.aside .logo a::before {
    border-top: 4px solid #ec1839;
    border-left: 4px solid #ec1839;
}

.aside .logo a::after {
    border-bottom: 4px solid #ec1839;
    border-right: 4px solid #ec1839;
}

.service .service-item .service-item-inner .icon .fa,
.about .about-content .about-text h3 span,
.aside .nav li a:hover,
.aside .nav li a.active {
    color: #ec1839;;
}


.service .service-item .service-item-inner:hover .icon,
.about .about-content .timeline .circle-dot,
.about .about-content .timeline .timeline-item::before,
.about .about-content .skills .skill-item .progress .progress-in,
.btn,
.section-title h2::after,
.section-title h2::before,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social-links a {
    background-color: #ec1839;
}