.aside .logo a::before {
    border-top: 4px solid #ec1839;
    border-left: 4px solid #ec1839;
}

.aside .logo a::after {
    border-bottom: 4px solid #ec1839;
    border-right: 4px solid #ec1839;
}

.aside .nav li a:hover,
.aside .nav li a.active {
    color: #ec1839;;
}

.aside .nav-toggler span {
    background-color: #ec1839;
}